#tf2-intro input {
	padding: 0;
    width:100%;
}

#tf2-intro .control-label {
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 8px;
    text-transform: uppercase;
}