<html>
<head>
	<%- setupScript %>

  <link href="/view/nowplaying/nowplaying.css" rel="stylesheet"/>
  
	<script src="/view/nowplaying/jquery.min.js"></script>
	<script src="/view/nowplaying/jquery.transit.min.js"></script>
	<script src="/view/nowplaying/nowplaying.js"></script>
</head>
<body>
<div class="musiccontainer" id="musiccontainer">
	<div style="float:right;margin-top:6px;width:48px;text-align:right;"><img src="img/icon.png" /></div>
	<div id="musictitle" class="musicline" style="margin-top: 12px;">Song Title</div>
	<div id="musicmessage" class="musicline" style="margin-top:24px;opacity:0;">Sub Message</div>
</div>
</body>
</html>
